@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --soft_blue: hsl(231, 69%, 60%);
  --soft_red: hsl(0, 94%, 66%);
  --text: hsl(229, 8%, 60%);
  --title: hsl(229, 31%, 21%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.header {
  width: 90vw;
  align-self: flex-end;
  font-family: "Rubik", sans-serif;
  display: flex;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 125px 0 75px 0;
}
.header__wrapper__title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--title);
  margin-bottom: 20px;
}
.header__wrapper__text {
  color: var(--text);
  line-height: 1.3;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.header__wrapper__buttons--chrome_btn {
  font-family: "Rubik", sans-serif;
  height: 45px;
  background-color: var(--soft_blue);
  color: white;
  font-size: 0.9rem;
  padding: 0 35px;
  border-radius: 6px;
  margin-right: 10px;
  border: 0;
}
.header__wrapper__buttons--firefox_btn {
  font-family: "Rubik", sans-serif;
  height: 45px;
  color: var(--title);
  font-size: 0.9rem;
  padding: 0 35px;
  border-radius: 9px;
  border: 0;
}
.header__illustration {
  position: relative;
  width: 50%;
  border: 2px solid red;
}
.header__illustration__tabletScreen {
  background: url("../../images/illustration-hero.svg") center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 23vh;
  width: 42vw;
}
.header__illustration__roundBg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  height: 18vh;
  width: 35vw;
  background-color: var(--soft_blue);
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
}

.navbar {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 40px;
  margin: 10px 0 35px 0;
}
.navbar__logo {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 150px;
}
.navbar__links {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  height: 100%;
}
.navbar__links--login {
  background-color: var(--soft_red);
  color: white;
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 100px;
}/*# sourceMappingURL=main.css.map */