.contact  {
    font-family: 'Rubik', sans-serif;
    background-color: var(--soft_blue);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;



    &__title {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-weight: 400;
        margin-top: 50px;
        }

    &__text  {
        max-width: 450px;
        text-align: center;
        margin-top: 35px;
        line-height: 1.5;
        @include h2;
        color: white;
    }

    &__form  {
        margin: 20px 0 80px 0 ;

        @include respond-to ('medium') {
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            width: 260px;
        }

        input {
            position: relative;
            border: 0;
            height: 45px;
            width: 275px;
            padding-left: 15px;
            margin-right: 15px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            transition:border 0.25s ease-in;

            @include respond-to ('medium') {
                width: 260px;
                max-width: 350px;
            }
            &:focus  {
                outline: none;
            }
            
            &[data-error-state="active"]{
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                border: 3px solid hsl(0, 94, 66);
            }

            &::placeholder  {
                font-family: 'rubik', sans-serif;
                padding-left: 15px;
                color: rgba(0, 0, 0, 0.43);
            }

            &.active  {
                border: 2px solid var(--sotf_red);
            }
        }

        button  {
            font-family: "rubik" , sans-serif;
            font-size: 1rem;
            font-weight: 400;
            padding: 0 20px;
            height: 45px;
            @include redBtn;
        }
    }
}

.errors {
    position: absolute;   
    opacity: 0;
    height: 25px;
    width: 260px;
    transition:opacity 0.25s ease-in;

    @include respond-to ('medium')  {
        width: 260px;
        margin-bottom: 40px;

    }

    &__image  {
        position: absolute;
        background: url('../images/icon-error.svg') center/cover no-repeat;
        height: 20px;
        width: 20px;
        right: 17px;
        top: -32px;

        @include respond-to ('medium') {
            top: 15px;
        }
    }

    &__message  {

        position: absolute;
        z-index: 5;
        border: 3px solid hsl(0, 94%, 66%);
        background-color: hsl(0, 94%, 66%);
        height: 25px;
        // width: 275px;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        @include respond-to ('medium') {
            width: 260px;
            height: 25px;
            bottom: 0;
            top: 45px;
        }

        & > p {
            color: white;
            font-style: italic;
            font-size: 0.7rem;
        }
    }
}
.errors[data-error-state="active"] {
    opacity: 1;
}


// .errors[data-error-state="active"] {
//     display: block;
//     opacity: 1;
//     position: absolute;
//     height: 25px;
//     width: 277px;

//     &__image  {
//         position: absolute;
//         background: url('../../images/icon-error.svg') center/cover no-repeat;
//         height: 20px;
//         width: 20px;
//         right: 17px;
//         top: -32px;
//         // transform: translateY(-50%);
//     }

//     &__message  {

//         position: absolute;
//         z-index: 5;
//         border: 3px solid hsl(0, 94%, 66%);
//         background-color: hsl(0, 94%, 66%);
//         height: 25px;
//         width: 277px;
//         display: flex;
//         align-items: center;
//         border-bottom-left-radius: 6px;
//         border-bottom-right-radius: 6px;

//         & > p {
//             color: white;
//             font-style: italic;
//             font-size: 0.7rem;
//         }
//     }
// }



