.feature  {
    display: flex;
    margin-top: 2vh;

    @include respond-to ('medium') {
        flex-direction: column;
        text-align: center;
    }

    &__illustration  {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 50px;

        @include respond-to ('medium') {
            flex-direction: column;
            align-items: center;
            width: 100%;

            & > img {
                width: 83%;
            }
        }
        & > img   {
            object-fit: contain;
            height: 100%;
            max-height: 500px;
        }

        
    
    }
    &__description  {
        width: 50%;
        padding: 80px 10vw 25px 7vw ;
        @include respond-to ('medium')  {
            width: 100%
        }
    
    }
    &__title  {
        @include h2 ;
        margin-bottom: 30px;

        @include respond-to ('medium') {
            font-size: 1.4rem;
        }
    }
    &__text  {
        @include p ;
        margin-bottom: 30px;
        @include respond-to ('medium') {
            font-size: 0.9rem;
        }
    }
    &__btnInfo  {
        width: 100px;
        @include blueBtn;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to ('medium') {
            display: none;
        }
    }
    
}

.features  {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    margin-top: 10vh;
    display: flex;

    @include respond-to ('medium') {
        flex-direction: column;
    }
    

    &__title  {
        text-align: center;
        @include h2;
        margin-bottom: 20px;

        @include respond-to ('medium') {
            font-size: 1.6rem;
        }
    }

    &__text  {

        @include p;
        margin: 0 auto;
        text-align: center;
        width: 40%;
        margin-bottom: 40px;

        @include respond-to ('medium') {
            font-size: 1rem;
            width: 100%;
            padding: 0 25px;
        }
    }
    &__nav  {
        width: 50%;
        margin: 0 auto;
        height: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.285);
        margin-bottom: 50px;

        @include respond-to ('medium') {
            flex-direction: column;
            row-gap: 0;
            width: 85%;
            max-width: 500px;
            border: 0;
            height: auto;
        }

        &__link  {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            width: 100%;      
            color:var(--text_feature); 
            
            @include respond-to ('medium') {

                height: 60px;

            &:nth-child(1) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.285);
                border-top: 1px solid rgba(0, 0, 0, 0.285);
            }
            &:nth-child(2) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.285);
            }
            &:nth-child(3){    
                border-bottom: 1px solid rgba(0, 0, 0, 0.285);
            }
            }

            &:hover  {
                cursor: pointer;
                color: var(--soft_red);
            }
        }
        &__link[data-active=true]{
            color: var(--title);
            font-weight: 500;
            position: relative;
            border-bottom: 3px solid var(--soft_red);


            @include respond-to ('medium') {
                position: relative;
                border-bottom: 1px solid rgba(0, 0, 0, 0.285);

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    height: 4px;
                    width: 120px;
                    background-color: var(--soft_red);
    
                }
            }


        }

        
    }
    &__wrapper  {
        position: relative;
        display: flex;

        @include respond-to ('medium') {
            flex-direction: column-reverse;
        }

        &__roundBg  {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            height: 350px;
            width: 45%;
            background-color: var(--soft_blue);
            border-bottom-right-radius: 150px;
            border-top-right-radius: 150px;         
            
            @include respond-to ('medium') {
                display: none;
                height: 40vh;
                width: 85%;
            }
        }
        &__roundBg--mobile  {
            @include respond-to ('medium') {
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                height: 33vh;
                width: 80%;
                background-color: var(--soft_blue);
                border-bottom-right-radius: 150px;
                border-top-right-radius: 150px;    
            }

        }
        &__bookmark  {
            display: none;
&[data-active="true"]{
display : flex
}
        }
        &__search  {
            display: none;
&[data-active="true"]{
display : flex
}
        }
        &__share  {
            display: none;
&[data-active="true"]{
display : flex
}
        }

    }

}


