.feature  {
    display: flex;
    margin-top: 2vh;

    &__illustration  {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 50px;

        & > img   {
            object-fit: contain;
            height: 100%;
            max-height: 500px;

        }
    }
    &__description  {
        width: 50%;
        padding: 80px 10vw 25px 7vw ;
    }
    &__title  {
        @include h2 ;
        margin-bottom: 30px;
    }
    &__text  {
        @include p ;
        margin-bottom: 30px;
    }
    &__btnInfo  {
        width: 100px;
        @include blueBtn;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

.features  {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    margin-top: 10vh;
    

    &__title  {
        text-align: center;
        @include h2;
        margin-bottom: 20px;
    }

    &__text  {
        @include p;
        margin: 0 auto;
        text-align: center;
        width: 40%;
        margin-bottom: 40px;
    }
    &__nav  {
        width: 50%;
        margin: 0 auto;
        height: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.285);
        margin-bottom: 50px;

        &__link  {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            width: 100%;      
            color:var(--text_feature); 
            
            &:hover  {
                cursor: pointer;
                color: var(--soft_red);
            }
        }
        &__link[data-active=true]{
            color: var(--title);
            border-bottom: 3px solid var(--soft_red);
            font-weight: 500;
        }

        
    }
    &__wrapper  {
        position: relative;
        display: flex;

        &__roundBg  {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            height: 350px;
            width: 45%;
            background-color: var(--soft_blue);
            border-bottom-right-radius: 150px;
            border-top-right-radius: 150px;            
        }
        &__bookmark  {
            display: flex;
        }
        &__search  {
            display: none;
        }
        &__share  {
            display: none;
        }

    }

}

