.navbar  {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 40px;
    margin: 10px 0 75px 0;
    @include respond-to  ('medium')  {
        width: 100vw;
        margin-top: 30px;
        padding: 0 35px;
    }

    &__logo  {
       object-fit: contain;
       max-width: 150px;
       & > img {
        width: 100%;
       }

       @include respond-to ('medium') {
        object-fit: contain;
        width: 50%;
        max-width: 200px;
        

       }
    }

    &__links  {
        display: none;
        text-transform: uppercase;
        align-items: center;
        column-gap: 25px;
        font-size: 0.9rem;
        letter-spacing: 0.15rem;
        height: 100%;

        &--features  {
            &:hover  {
                color: var(--red_hover);
                cursor: pointer;
            }
        }
        &--pricing  {
            &:hover  {
                color: var(--red_hover);
                cursor: pointer;
            }
        }
        &--contact  {
            &:hover  {
                color: var(--red_hover);
                cursor: pointer;
            }
        }


        &--login {
            @include redBtn;
            padding: 0 10px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
        }
    }

}