//--- Responsive breakpoint manager 
@mixin respond-to ($breakpoint)  {
    $raw-query: map-get($breakpoints, $breakpoint );

    @if $raw-query{
        $query: if(
            type-of($raw-query) == 'string',
            unquote($raw-query),
            inspect($raw-query)
        );

        @media #{$query}  {
            @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`.'
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

//--- text

@mixin h2 {
    font-weight: 500;
    font-size: 2rem;
    color: var(--title);
}

@mixin h3 {
    color: var(--title);
    font-weight: 500;
    font-size: 1.4rem;
}

@mixin p {
    color: var(--text);
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.2rem;
}

@mixin blueBtn  {
    font-family: 'Rubik', sans-serif;
    height: 45px;
    background-color: var(--soft_blue);
    color: white;
    font-size: 0.9rem;
    border-radius: 6px;
    border: 2px solid var(--soft_blue);
    

    &:hover  {
        color: var(--soft_blue);
        background-color: white;

    }
}