//--- Responsive breakpoint manager 
@mixin respond-to ($breakpoint)  {
    $raw-query: map-get($breakpoints, $breakpoint );

    @if $raw-query{
        $query: if(
            type-of($raw-query) == 'string',
            unquote($raw-query),
            inspect($raw-query)
        );

        @media #{$query}  {
            @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`.'
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

//--- text

@mixin h2 {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--title);
}

@mixin p {
    color: var(--text);
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.2rem;
}